/* Custom styles for detection method chart */

/* Container size adjustments */
#detection-method-chart-container {
    height: auto;
}

/* Chart specific adjustments */
#detection-method-chart {
    min-height: 300px !important;
    height: 300px;
}

/* SVG adjustments for the detection method chart */
#detection-method-chart svg {
    max-height: 300px;
    width: 100% !important;
    height: 100% !important;
}
